{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Garuda Apparel</h1>

<h5>NPM: </h5>
<p>{{npm}}</p>
<h5>Name: </h5>
<p>{{name}}</p>
<h5>Class: </h5>
<p>{{ class }}</p>

<a href="{% url 'main:create_news' %}">
  <button>+ Add Products</button>
</a>

<hr>

{% if not news_list %}
<p>No news data available in Football News.</p>
{% else %}

{% for news in news_list %}
<div>
  <h2><a href="{% url 'main:show_news' news.id %}">{{ news.name }}</a></h2>

  <p><b>{{ news.get_category_display }}</b>{% if news.is_featured %} | 
    <b>Featured</b>{% endif %}{% if news.is_news_hot %} | 
    <b>Hot</b>{% endif %} | <i>{{ news.created_at|date:"d M Y H:i" }}</i> 
    | Views: {{ news.news_views }}</p>

  {% if news.thumbnail %}
  <img src="{{ news.thumbnail }}" alt="thumbnail" width="300" height="280">
  <br />
  {% endif %}

  <!-- <p>{{ news.description|truncatewords:25 }}...</p> -->

  <p><a href="{% url 'main:show_news' news.id %}"><button>Product Details</button></a></p>
  <form method="post" action="{% url 'main:delete_news' news.id %}" ">
    {% csrf_token %}
    <button>Delete product</button>
  </form>
</div>

<hr>

{% endfor %}
{% endif %}

{% endblock content %}


