{% extends "base.html" %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Main Page</button></a></p>

<h1>{{ product.name }}</h1>
<p><b>Category:</b> {{ product.get_category_display }}{% if product.is_featured %} | 
    <b>Featured</b>{% endif %}{% if product.is_news_hot %} | 
    <b>Hot</b>{% endif %} | <b>Price:</b> {{ product.price }} | 
    Views: {{ product.news_views }}</p>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />
{% endif %}

<p><b>Description:</b> {{ product.description }}</p>

{% if product.user %}
    <p>Author: {{ product.user.username }}</p>
{% else %}
    <p>Author: Anonymous</p>
{% endif %}


{% endblock content %}